<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="666" />
    <add key="mainForm.Location.Y" value="110" />
    <add key="mainForm.Width" value="799" />
    <add key="mainForm.Height" value="800" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEADuww2Ta+7jbHgwMB/4DAM/6NskMAAAA" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAJvU8Gzq+7jbHgwMB/4vmZPPyAAGCk67pJKZYOyeKYlQtpxTu2kSlC3jtL1Ogx3GBgDYvL1cSAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAJvU8Gzq+7jbHgwMB/6feJXPyAAEjAxBzi02/nwwNgDNKnSCJAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAJvU8Gzq+7jbHgwMB/6feJXPyAAEjA2nnFts/PlgbABcDMZCJAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAJvU8Gzq+7jbHgwMB/6feJXPyAAFLTb+fDA2AJAB2jUkAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJvU8Gzq+7jbHgwMB/7fFixgZICCJht/PhgbAPv7avMkAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAOta/mzq+7jbHgwMB/4/fpXPyAAFTTb+fDA2AMP5fqMkAAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAOta/mzq+7jbHgwMB/4/fpXPyAAFTTb+fDA2AMP5fqMkAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAOta/mzq+7jbHgwMB/4/fpXPyAAFTTb+fDA2AMP5fqMkAAAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAOta/mzq+7jbHgwMB/4/fpXPyAACHywdDJP9+WBsAIfkAnYkAAAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAOta/mzq+7jbHgwMB/4/fpXPyAACEypcDZP9+WBsABtFeiQkAAAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAGO4+Gzq+7jbHgwMB/7nHsxnZACDd06Gyf58MDYAJe0NTyQAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAGO4+Gzq+7jbHgwMB/7nHsxnZACDBlfDZH8+GBsAXuIiECQAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAGtnfzH1fdxtDwaGA/+7tuQxMgBB2+snDmwSyUwgdvaeRw7usxLB7P3zHzmYGSSB2QZ3HznU6KSA2Q/9Hzu8CIGoOVX22GHZVYiaVOtHDgBDYw0YYAAAAA==" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAKtWejH1fdxtDwaGA/93m09kZIAC1+mmfDA2ANLFzYwkAAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAJup92Lq+7jbHgwMB/7bTzjIyAAFJ8uE+WBsAIVdooskAAAA" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAFOruTP1fdxtDwaGA/8FFlYyMoCBh8suqWQmGLtnSiKUfcK53TQJzn6kngJXExWFUFP9B6EGAEfhX51gAAAA" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEALNYfGfq+7jbHgwMB/7/q6xkZACDEy67pJKZYOyeKYkQdsMil3bTJLj4I/UUuHhUFEJN9R+EGgDSRPIdYAAAAA==" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEALNYfGfq+7jbHgwMB/7/q6xkZACCrEWLPHdJJTOB2BorZ3ue8njDDWMDAFXgrp8wAAAA" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEALNYfGfq+7jbHgwMB/7/q6xkZACDB/a7pJKZIOwF9j1TEqFsBvt20yQYm+GRegqU3WAXFQVXw1D9JwkuDgCJe+7rYAAAAA==" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEADu58drU93G3PRgYDvxfoSrBxAAELHvindj+J4LZam3xTkq+SWC2UHm8U8OfZDDboSbeSfM6RI3P0Xgn30KImmdn450cV0PYL07HOwEAkmAKPmAAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAHP+c23q+7jbHgwMB/7r3RZnYgCCy/c4Hdn+J4LZi/ZyOir5JoHZ4Vs4HRv+JIPZHds5HTWvQ9R0P+F09C2EqLnxktPRcTWEPe8FpyMA3fDiX2AAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAAtXvj71fdxtDwaGA/+ltogzMQDBK5ubDmz/E8Fsn/qbDkq+SWD2o4k3HRr+JIPZDd03HTSvQ9RUGd508C2EqHmgdtPBcTWEHaJ50wEA1a4vpWAAAAA=" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEADsffnrq+7jbHgwMB/4vqldmYgAC21N6Dk8fJoLZE47usHfOSgKzl328YN/wJxnMTmnvsVfeDlEj9vuxvWc5RM2GjId2z9ZB2CnP3e0Bdq4hbmAAAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEALtdd3rq+7jbHgwMB/5Pi1BmYgAC72PLHZ4+TASzGRgSHZyzkqDsh/YNf5Kh7F/2ytuhahqsHTzLYWrE7J+tg7E97AGVqQUaYAAAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAPt/5vTU93G3PRgYDvwv4lJmYgACJjdTh6cPE8HsCakn7J2zksDs6TfW2jf8SQazGRjW2ytvh6g5cU7PwbM8CSrOwPBsHYztYQ8AtKJn52AAAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEABP8cnrq+7jbHgwMB/4nPFZiYgACl/qn9k8fJoLZL38/snfOSgKzrSrv2zf8SQazFazd7ZW3Q9Q4lB2z8yyHqGngOWH3bB2EzcBwwg4A9C/OPGAAAAA=" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAFOWPjP1fdxtDwaGA//99igxMQDBIltdh6cPE8FsBob19s5ZSVD2Q/vFm4+ywNie5RDxyoti9s/WwdSI2QMAzDue5lQAAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEADN1OjP1fdxtDwaGA/9tpioxMQDByknP7J8+TASzGRg87JyzkqDs9fYNf5Jh4vbK22FqHtp7lifB1T9bB2OfsAMAHbRwO2AAAAA=" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEADN1OjP1fdxtDwaGA/9tpioxMQDBuk5mh6cPE8FsBgYPe+esJCj7hF3Dn2Qwu+GNi53ydpgaMXvPcpgaBoZn6yBsh7JjdgA9kTu7YAAAAA==" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEAPPIPDP1fdxtDwaGA/8185SYGIDA/88h+6cPE8Fsh2kn7ZyzksBsBgYP+4Y/yXC28naIGgVrd3vP8iS4+mfrYOrF7AGwdKM5YAAAAA==" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEALM6e2bq+7jbHgwMB/6bcykxMQCBp2Glw9OHiWD2hNRf9s5ZSWB219xKh4Y/yWA2A8M0e+XtEDUMDSEOnuVJUPH19s/WwdhiDgCze5/7YAAAAA==" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAFOMvjj1fdxtDwaGA/8DamSZGEBgQZDT04eJEPYDJyfnrCQIu8HaqeFPMoR9wNhJeTtUjYK+k2c5TI2m07N1UHaCmhMArzSXo2AAAAA=" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAHNdeXHq+7jbHgwMB/7r6MkyMQCBgb2A49OHiWC2zeQDDs5ZSWD229MnHRr+JIPZ0ud2Oyhvh6hhCtns4FkOUbPtwiKHZ+sg7JrGlQ4Au5rf8WAAAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAIu4cHHq+7jbHgwMB/5LsssyMQDBu/ZwB7b/iWB2lN4reyXfJDCbc9U/+4Y/yWD2OoZH9prXIWrKhR/Z+xZC1Cyv3GrvuBrCjjt+yB4AE76v72AAAAA=" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAGuQuzT1fdxtDwaGA/8/7pBhYgCCUzGq9k8fJoLZzyYts3POSgKzWRdMtWv4kwxmWxzptFPeDlHjt2qjnWc5RI2NQ4vds3UQ9rWAfjsAZS88c2AAAAA=" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAOt3vTT1fdxtDwaGA/8fTZRhYgCCFtdQ16cPE8Hsd1dcXZ2zksDsKWlOrg1/ksHsSwJurjl6R1hg7GfroGo0bVwBCRqTI1QAAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEALsw+dLU93G3PRgYDvxf6CzDxAAEvCd+2j19mAhmq9yYYOeclQRmLxQpsWv4kwxml2zqt1PeDlHTVzHdzrMcosYpr9ru2ToI+8/DaDsA1jWdjmAAAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEALv58NLU93G3PRgYDvyf8VWaiQEIWlxDXZ8+TASz311xdXXOSgKzp6Q5uTb8SQazLwm4ueboHWGBsZ+tQ6gBANfYi4dUAAAA" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAPvEcXnq+7jbHgwMB/7Xn5NmYgCCB1ZH7J4+TASzeyID7JyzksDstTyedg1/ksFsNrYyO+XtEDU5L+TtPMshaq7q37J9tg7CTtNgtwMAkRO2NWAAAAA=" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEABMKvzz1fdxtDwaGA//jG6SZGIDAbXag69OHiWD2uyuurs5ZSWC20F1f14Y/yWD2JQE31xy9Iyww9rN1EDUR9RauAMF7qp1UAAAA" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAFOtuzz1fdxtDwaGA/99IqWZGIBgivABu6cPE8HsKu0cO+esJDBbgsHWruFPMpi9IKHBTnk7RM2kvkQ7z3KIGjtRK7tn6yBsvRsBdgBAidpQYAAAAA==" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEADNfennq+7jbHgwMB/5bGUkzMQCB2+xA16cPE8Hsd1dcXZ2zksDsiHoL14Y/yWD2JQE31xy9Iyww9rN1EDVi/wNdAfX7XJZUAAAA" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEABN4c3nq+7jbHgwMB/4nvpZiYgCCby4r7Z4+TASzrQ6b2DlnJYHZcxeF2DX8SQazZ76ys1PeDlHzqU/ZzrMcoubYVj27Z+sg7D0Pte0AMnG92WAAAAA=" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAJMVvjL1fdxtDwaGA/9DjkgxMQDBlNJY16cPE8Hsd1dcXZ2zksDsiD12rg1/ksHsSwJurjl6R1hg7GfrIGpmdLi5AgA/5OVLVAAAAA==" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAFsde2Xq+7jbHgwMB/4fq5RiYgACiQ/pdmz/E8FsRYdvtkq+SWC2he4a24Y/yWB2BMsjW+XtEDVcDktsPcshalhdVtl6H4Ww2f/NsAUAZ1Y6DGAAAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEANvRcmXq+7jbHgwMB/7vDJJiYgACsf+Brmz/E8Hsd1dcXZV8k8Dsa0Zerg1/ksHsSwJurjl6R1hgbO+jEDVSQtauACgOLytUAAAA" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEAPO+fGXq+7jbHgwMB/6rsUgxMQCBQ8YGO7b/iWB25EVrOyXfJDA764OyXcOfZDD7UK6/nfJ2iJq4Ta52wRMhauYudLFzXA1hByUG2QEAgDkMSGAAAAA=" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEAPv688rU93G3PRgYDvyvuSvJxAAEET9dXNn+J4LZ7664uir5JoHZ14y8XBv+JIPZlwTcXMs8jrDA2I6rIWrE/ge6AgAhj7T0VAAAAA==" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEAJPyuDr1fdxtDwaGA//D+yWZGICA+6mQPdv/RDC7x3CunZJvEpjtG6hg3/AnGcx2+5Zmp3kdoubKvgV2voUQNW/MLewcV0PYK79U2AEACMy+RWAAAAA=" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEANPKvzr1fdxtDwaGA//dMySZGIAg4qeLK9v/RDD7koCbq5JvEph9zcjLteFPMpg9Jc3JVfM6Qo1vYRKc7bgawhb7H+gKAOswV/FgAAAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>